core/vendor/
*/node_modules/
.git/
core/.gitignore
core/.env.example
core/Dockerfile
core/docker-compose.yml
.dockerignore
core/README.md
core/storage/debugbar/
core/storage/logs/*
!core/storage/logs/.gitignore
core/storage/framework/cache/*
!core/storage/framework/cache/.gitignore
core/storage/framework/views/*
!core/storage/framework/views/.gitignore
core/storage/framework/sessions/*
!core/storage/framework/sessions/.gitignore
core/tests/
core/phpunit.xml
.history/
.vscode/
.idea/
install/
core/public/storage
