vendor/
node_modules/
.git/
.gitignore
.env.example
.env
Dockerfile
docker-compose.yml
.dockerignore
README.md
storage/debugbar/
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
tests/
phpunit.xml
.history/
.vscode/
.idea/
